<div class="row border rounded p-3 mb-3" [formGroup]="form">
    <h3 class="text-center text-secondary mb-3">PEDIDO</h3>
    <div class="col">
        <ng-container formArrayName="arrOrders" *ngFor="let order of orders?.controls; let i = index">
            <div class="row" [formGroupName]="i">
                <div class="col-lg-3 mb-3">
                    <select name="material" class="form-select" formControlName="material">
                        <option value="vinyl">Vinilo</option>
                        <option value="banner">Lona</option>
                        <option value="light">Luces</option>
                        <option value="polyfan">Polifan</option>
                    </select>
                </div>
                <!-- VINYL -->
                <div class="col-lg-9" [ngSwitch]="order.get('material')?.value">
                    <div class="row" *ngSwitchCase="'vinyl'">
                        <div class="col-lg-2 mb-3">
                            <select name="plotter" class="form-select" formControlName="plotter">
                                <option value="print">Impreso</option>
                                <option value="cut">Corte</option>
                                <option value="mix">Mixto</option>
                            </select>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <select name="description" class="form-select" formControlName="materialType">
                                <option selected value="glossy">Brillante</option>
                                <option value="mate">Mate</option>
                                <option value="perforated">Microperforado</option>
                                <option value="frosted">Esmerilado</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 mb-3">
                            <input class="form-control" placeholder="Alto" formControlName="height">
                        </div>
                        <div class="col-lg-2 col-6 mb-3">
                            <input class="form-control" placeholder="Ancho"  formControlName="width">
                        </div>
                        <div class="col-lg-3 mb-3">
                            <select class="form-select" formControlName="additionalService">
                                <option selected value="justMaterial" >Sin Instalar</option>
                                <option value="install">Instalar</option>
                                <option value="removeInstall">Remover/Instalar</option>
                            </select>
                        </div>
                        <div  class="col-lg-1 mb-3">
                            <button [disabled]="disabledDelete" type="button" class="btn btn-danger" (click)="deleteOrder(i)"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    <!-- BANNER -->
                    <div class="row" *ngSwitchCase="'banner'">
                        <div class="col-lg-2 mb-3">
                            <select class="form-select" formControlName="additionalMaterial">
                                <option selected value="justMaterial">Simple</option>
                                <option value="eyelets">C/ Hojales</option>
                                <option value="hangingBanner">Bolsillos</option>
                                <option value="tensioner">Tensor</option>
                                <option value="oubleTensioner">Doble Tensor</option>
                                <option value="rollUp">Roll Up</option>
                                <option value="structuralIron">Estructural</option>
                                <option value="bright">Luminoso</option>
                            </select>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <select name="description" class="form-select" formControlName="materialType">
                                <option selected value="glossy">Brillante</option>
                                <option value="mate">Mate</option>
                                <option value="back">Back</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 mb-3">
                            <input class="form-control" placeholder="Alto" formControlName="height">
                        </div>
                        <div class="col-lg-2 col-6 mb-3">
                            <input class="form-control" placeholder="Ancho" formControlName="width">
                        </div>
                        <div class="col-lg-3 mb-3">
                            <select class="form-select" formControlName="additionalService">
                                <option selected value="just-material">Sin Instalar</option>
                                <option selected value="install">Instalar</option>
                                <option value="remove-install">Remover/Instalar</option>
                            </select>
                        </div>
                        <div  class="col-lg-1 mb-3">
                            <button [disabled]="disabledDelete" type="button" class="btn btn-danger" (click)="deleteOrder(i)"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    <!-- NEON -->
                    <div class="row" *ngSwitchCase="'light'">
                        <div class="col-lg-3 mb-3">
                            <select name="type" class="form-select" formControlName="materialType">
                                <option selected value="neon" >Neon</option>
                                <option value="led">Led</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-6 mb-3">
                            <input class="form-control" placeholder="metros" formControlName="meters">
                        </div>
                        <div class="col-lg-4 mb-3">
                            <select name="colour" class="form-select" formControlName="colours">
                                <option value="white">Blanco</option>
                                <option value="red">Rojo</option>
                                <option value="blue">Azul</option>
                                <option value="pink">Rosa</option>
                                <option value="yellow">Amarillo</option>
                                <option value="fuxia">Fuxia</option>
                                <option value="green">Verde</option>
                                <option value="purple">Morado</option>
                                <option value="mix">Varios</option>
                            </select>
                        </div>
                        <div  class="col-lg-1 mb-3">
                            <button [disabled]="disabledDelete" type="button" class="btn btn-danger" (click)="deleteOrder(i)"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                    <!-- POLIFAN -->
                    <div class="row" *ngSwitchCase="'polyfan'">
                        <div class="col-lg-3 mb-3">
                            <select name="type" class="form-select" formControlName="clientType">
                                <option value="finalConsumer">Cons. Final</option>
                                <option value="guild">Gremio</option>
                            </select>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <select name="type" class="form-select" formControlName="thickness">
                                <option value="20">20mm</option>
                                <option value="25">25mm</option>
                                <option value="30">30mm</option>
                                <option value="40">40mm</option>
                                <option value="50">50mm</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col mb-3">
                            <input class="form-control" placeholder="unidades" formControlName="units">
                        </div>
                        <div class="col-lg-2 mb-3">
                            <select class="form-select" formControlName="print">
                                <option value="yes" selected >Sin Pintura</option>
                                <option value="no">Pintura</option>
                            </select>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <select class="form-select" formControlName="additionalService">
                                <option value="withoutInstall" selected >Sin Instalar</option>
                                <option value="install">Instalar</option>
                            </select>
                        </div>
                        <div  class="col-lg-1 mb-3">
                            <button [disabled]="disabledDelete" type="button" class="btn btn-danger" (click)="deleteOrder(i)"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="row" *ngIf="showDescription">
            <div class="col">
                <textarea formControlName="description" class="form-control mb-3" id="exampleFormControlTextarea1" rows="3"placeholder="Descripción"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col text-center m-3">
                <button type="button" class="btn btn-dark mx-1" (click)="openDescription()"><i class="fa-solid fa-pencil"></i></button>
                <button type="button" class="btn btn-dark mx-1" (click)="addOrder()"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>