<form class="container mt-3" [formGroup]="clientData" (ngSubmit)="logData()">
    <!-- DATOS DEL CLIENTE -->
    <!-- DATOS DEL CLIENTE -->
    <!-- DATOS DEL CLIENTE -->
    <div class="row border rounded p-3 mb-3">
        <h3 class="text-center text-secondary mb-3">DATOS DEL CLIENTE</h3>
        <div class="col">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <input class="form-control" formControlName="name" placeholder="Nombre">
                </div>
                <div class="col-lg-4 mb-3">
                    <input class="form-control" formControlName="lastName" placeholder="Apellido">
                </div>
                <div class="col-lg-4 mb-3">
                    <input class="form-control" formControlName="phone" placeholder="Telefono">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <input class="form-control" formControlName="address" placeholder="Dirección">
                </div>
                <div class="col-lg-4 mb-3">
                    <input class="form-control" formControlName="email" placeholder="Email">
                </div>
                <div class="col-lg-4 mb-3">
                    <input class="form-control" formControlName="company" placeholder="Compañia">
                </div>
            </div>
        </div>
    </div>
    <!-- PEDIDO -->
    <!-- PEDIDO -->
    <!-- PEDIDO -->
    <app-order></app-order>
    <!-- PAGO  -->
    <!-- PAGO  -->
    <!-- PAGO  -->
    <div class="row border rounded p-3 mb-3">
        <h3 class="text-center text-secondary mb-3">PAGO</h3>
        <div class="col">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id="amount" placeholder="Costo Total">
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="col input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id="warranty" placeholder="Anticipo">
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="col input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id="balance" placeholder="Saldo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border rounded">
        <div class="col text-center m-3">
            <button [disabled]="" type="submit" class="btn btn-success mx-1">Confirmar</button>
            <button class="btn btn-danger mx-1">Descartar</button>
        </div>
    </div>
</form>