<div class="container mt-3">
    <div class="row mb-3">
        <div class="col-lg-6">
            <div class="row border rounded p-3 mb-3">
                <h3 class="text-center text-secondary mb-3">ACTUALIZAR PRECIO</h3>
                <div class="col-lg-3">
                    <select name="material" class="form-select" [formControl]="material">
                        <option selected value="vinyl">Vinilo</option>
                        <option value="banner">Lona</option>
                        <option value="light">Luces</option>
                        <option value="polyfan">Polifan</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <ng-container [ngSwitch]="material.value">
                        <select name="plotter" class="form-select" [formControl]="service" *ngSwitchCase="'vinyl'">
                            <option selected value="print">Impreso</option>
                            <option value="cut">Corte</option>
                            <option value="mix">Mixto</option>
                            <option value="glossy">Brillante</option>
                            <option value="mate">Mate</option>
                            <option value="perforated">Microperforado</option>
                            <option value="frosted">Esmerilado</option>
                            <option value="justMaterial">Sin Instalar</option>
                            <option value="install">Instalar</option>
                            <option value="removeInstall">Remover/Instalar</option>
                        </select>
                        <select name="plotter" class="form-select" [formControl]="service" *ngSwitchCase="'light'">
                            <option selected value="neon">Neon</option>
                            <option value="led">Led</option>
                        </select>
                        <select name="plotter" class="form-select" [formControl]="service" *ngSwitchCase="'banner'">
                            <option selected value="eyelets">C/ Hojales</option>
                            <option value="hangingBanner">Bolsillos</option>
                            <option value="tensioner">Tensor</option>
                            <option value="doubleTensioner">Doble Tensor</option>
                            <option value="rollUp">Roll Up</option>
                            <option value="structuralIron">Estructural</option>
                            <option value="bright">Luminoso</option>
                            <option value="mate">Mate</option>
                            <option value="back">Back</option>
                            <option value="install">Instalar</option>
                            <option value="removeInstall">Remover/Instalar</option>
                        </select>
                        <select name="plotter" class="form-select" [formControl]="service" *ngSwitchCase="'polyfan'">
                            <option selected value="extraSmall">20mm</option>
                            <option value="small">25mm</option>
                            <option value="medium">30mm</option>
                            <option value="print">Pintura</option>
                            <option value="install">Instalar</option>
                        </select>
                    </ng-container>
                </div>
                <div class="col-lg-4 ">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" [formControl]="newPrice">
                    </div>
                </div>
                <div class="col-lg-2 text-center">
                    <button type="button" class="btn btn-success w-100" (click)="updatePrice()"><i
                            class="fa-solid fa-floppy-disk"></i></button>
                </div>
            </div>
            <div class="row border rounded p-3 mb-3">
                <h3 class="text-center text-secondary mb-3">LISTA DE PRECIOS</h3>
                <ng-container >
                    <table class="table table-sm">
                        <tbody *ngFor="let price of prices">
                            <tr class="table-dark">
                                <th></th>
                                <td class="fw-bold">{{price.name}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="bg-soft" *ngFor="let service of price.service">
                                <th scope="row"></th>
                                <td></td>
                                <td>{{service.tag}}</td>
                                <td>${{service.price}}</td>
                        </tbody>
                    </table>
                </ng-container>
            </div>
        </div>
    </div>
</div>
