<div class="container mt-3">
    <div class="row  mb-3">
        <div class="col-lg-6 border rounded p-3">
            <div class="row">
                <h3 class="text-center text-secondary mb-3">ACTUALIZAR PRECIO</h3>
                <div class="col-lg-3 mb-3">
                    <select name="material" class="form-select" [formControl]="material">
                        <option selected value="vinyl">Vinilo</option>
                        <option value="banner">Lona</option>
                        <option value="light">Luces</option>
                        <option value="polyfan">Polifan</option>
                    </select>
                </div>
                <div class="col-lg-3 mb-3">
                    <ng-container [ngSwitch]="material.value">
                        <select name="plotter" class="form-select" [formControl]="service" *ngSwitchCase="'vinyl'">
                            <option selected value="print">Impreso</option>
                            <option value="cut">Corte</option>
                            <option value="mix">Mixto</option>
                            <option value="glossy">Brillante</option>
                            <option value="mate">Mate</option>
                            <option value="perforated">Microperforado</option>
                            <option value="frosted">Esmerilado</option>
                            <option value="justMaterial">Sin Instalar</option>
                            <option value="install">Instalar</option>
                            <option value="removeInstall">Remover/Instalar</option>
                        </select>
                        <select name="plotter" class="form-select" [formControl]="service" *ngSwitchCase="'light'">
                            <option selected value="neon">Neon</option>
                            <option value="led">Led</option>
                        </select>
                        <select name="plotter" class="form-select" [formControl]="service" *ngSwitchCase="'banner'">
                            <option selected value="eyelets">C/ Hojales</option>
                            <option value="hangingBanner">Bolsillos</option>
                            <option value="tensioner">Tensor</option>
                            <option value="doubleTensioner">Doble Tensor</option>
                            <option value="rollUp">Roll Up</option>
                            <option value="structuralIron">Estructural</option>
                            <option value="bright">Luminoso</option>
                            <option value="mate">Mate</option>
                            <option value="back">Back</option>
                            <option value="install">Instalar</option>
                            <option value="removeInstall">Remover/Instalar</option>
                        </select>
                        <select name="plotter" class="form-select" [formControl]="service" *ngSwitchCase="'polyfan'">
                            <option selected value="extraSmall">20mm</option>
                            <option value="small">25mm</option>
                            <option value="medium">30mm</option>
                            <option value="print">Pintura</option>
                            <option value="install">Instalar</option>
                        </select>
                    </ng-container>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" [formControl]="newPrice">
                    </div>
                </div>
                <div class="col-lg-2 mb-3 text-center">
                    <button type="button" class="btn btn-success w-100" (click)="updatePrice()"><i class="fa-solid fa-floppy-disk"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row  border rounded p-3 mb-3">
        <div class="col">
            <h3 class="text-center text-secondary mb-3">LISTA DE PRECIOS</h3>
            <ng-container [ngSwitch]="page">
                <table class="table table-sm" *ngSwitchCase="1">
                    <tbody>
                        <tr class="table-dark">
                            <th></th>
                            <td class="fw-bold">Vinilo</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Corte</td>
                            <td>${{prices}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Impreso</td>
                            <td>${{prices}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Mixto</td>
                            <td>${{prices}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Brillante</td>
                            <td>${{prices}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Mate</td>
                            <td>${{prices}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Microperforado</td>
                            <td>${{prices}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Esmerilado</td>
                            <td>${{prices}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Instalar</td>
                            <td>${{prices}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Remover/Instalar</td>
                            <td>${{prices}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Solo Material</td>
                            <td>${{prices}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <table class="table table-sm" *ngSwitchCase="2">
                    <tbody>
                        <tr class="table-dark">
                            <th></th>
                            <td class="fw-bold">Lona</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Tensor</td>
                            <td>${{prices.banner.tensioner}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Tensor Doble</td>
                            <td>${{prices.banner.doubleTensioner}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Roll Up</td>
                            <td>${{prices.banner.rollUp}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Hojales</td>
                            <td>${{prices.banner.eyelets}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Bolsillos</td>
                            <td>${{prices.banner.hangingBanner}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Estructural</td>
                            <td>${{prices.banner.structuralIron}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Luminoso</td>
                            <td>${{prices.banner.bright}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Brillante</td>
                            <td>${{prices.banner.glossy}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Mate</td>
                            <td>${{prices.banner.tensioner}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Back</td>
                            <td>${{prices.banner.back}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Instalar</td>
                            <td>${{prices.banner.install}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Solo Material</td>
                            <td>${{prices.banner.justMaterial}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Remover/Instalar</td>
                            <td>${{prices.banner.removeInstall}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm" *ngSwitchCase="3">
                    <tbody>
                        <tr class="table-dark">
                            <th></th>
                            <td class="fw-bold">Polifan</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>20mm</td>
                            <td>${{prices.polyfan.extraSmall}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>25mm</td>
                            <td>${{prices.polyfan.small}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>30mm</td>
                            <td>${{prices.polyfan.medium}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Pintura</td>
                            <td>${{prices.polyfan.print}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Instalar</td>
                            <td>${{prices.polyfan.install}}</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Solo Material</td>
                            <td>${{prices.polyfan.justMaterial}}</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr class="table-dark">
                            <th></th>
                            <td class="fw-bold">Luces</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Neon</td>
                            <td>${{prices.light.neon}}</td>
                        </tr>
                        <tr class="bg-soft">
                            <th scope="row"></th>
                            <td></td>
                            <td>Led</td>
                            <td>${{prices.light.led}}</td>
                        </tr>
                    </tbody>
                </table> -->
            </ng-container>
        </div>
    </div>
    <div class="row">
        <nav class="my-3">
            <ul class="pagination d-flex justify-content-center">
                <button class="btn btn-soft mx-1" [disabled]="prevPage" (click)="turnPage(-1)"><i
                        class="fa-solid fa-caret-left"></i></button>
                <button class="btn btn-soft mx-1" [disabled]="nextPage" (click)="turnPage(+1)"><i
                        class="fa-solid fa-caret-right"></i></button>
            </ul>
        </nav>
        <div *ngIf="spinner" class="d-flex justify-content-center m-b">
            <div class="spinner-border text-dark" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div>