@media (max-width: 992px) {
    .hidden-sm {
      display: none;
    };
  }
  
@media (max-width: 992px) {
  .text-center-cellphone{
    text-align: center;
  }
  }

@media (min-width: 992px) {
    .hidden-min-sm {
      display: none;
    }
  }
